{% extends "index.html" %}
{% block title %}My portfolio{% endblock title %}
{% block content %}
{% load static %}
 <section class="hero">
    <h1>Welcome to My Portfolio</h1>    
 </section>
 <section class="projects">
    <h2>My Projects</h2>
    <div class="project-list">
        <div class="project">
            <h3>Project 1</h3>
            <p>Description of Project 1.</p>
        </div>
        <div class="project">
            <h3>Project 2</h3>
            <p>Description of Project 2.</p>
        </div>
    </div>
 </section>


  
{% endblock content %}