<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title %}{{title}}{% endblock title %}</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="static/src/output.css" rel="stylesheet">
  </head>
  <body>
    {%include "Navbar.html"%}
     <hr>
    <main>
      {% block content %} 
       
      {% endblock %}
    </main>
    <hr>
    {%include "footer.html"%}
  </body>
</html>
